{{!-- <div class="composant">
  <img class="composant__icone" src="{{icone}}" />
  <div class="composant__title">{{title}}</div>
  <a href="#" >
    <img class="composant__icon-add" src="/src/assets/icones/iconAdd.svg" />
  </a>
</div> --}}




<div class="accordion accordion-flush" id="{{ID}}">
  <div class="accordion-item">
    <div class="composant">
      <img class="composant__icone" src="{{icone}}" />
      <div class="composant__title">{{title}}</div>
      <a 
        href="#collapseItem{{ID}}" 
        class="composant__icon-add" 
        data-bs-toggle="collapse" 
        aria-expanded="false" 
        aria-controls="collapseItem{{ID}}">
        <img src="/src/assets/icones/iconAdd.svg" alt="Add Icon" />
      </a>
    </div>
    <div id="collapseItem{{ID}}" class="accordion-collapse collapse" data-bs-parent="#{{ID}}">
      <div class="accordion-body">
        <!-- Contenu supplémentaire ici -->
        Contenu du composant.
      </div>
    </div>
  </div>
</div>
