<div class="tuileDemi">
  <a href="{{link}}" class="tuileDemi__link"></a>
  <img class="tuileDemi__img" src="{{image}}" alt="{{imageAlt}}" />
  <div class="tuileDemi__content">
    <div class="tuileDemi__title">{{title}}</div>
    <div class="tuileDemi__description">{{{description}}}</div>
  </div>
</div>
