<div class="tuileLarge">
  <a href="{{link}}" class="tuileLarge__link"></a></a>
  <img class="tuileLarge__img" src="{{image}}" alt="{{imageAlt}}" />
  <div class="tuileLarge__content">
    <div class="tuileLarge__title">{{title}}</div>
    <div class="tuileLarge__description">{{{description}}}</div>
  </div>
</div>