<div class="tuile">
  <a href="{{link}}" class="tuile__link"></a>
  <img class="tuile__img" src="{{image}}" alt="{{imageAlt}}" />
  <div class="tuile__content">
    <div class="tuile__title">{{title}}</div>
    <div class="tuile__description">{{{description}}}</div>
  </div>
</div>